p=t('notifications.new-reply.hi', {name: citizenName})
p!=t('notifications.new-reply.paragraph.1', { lawPhaseOneTitle: lawPhaseOneTitle, lawPhaseTwoTitle: lawPhaseTwoTitle })
p!=t('notifications.new-reply.paragraph.2', { url: url })
p: i=t('notifications.new-reply.signature')
br
br
p: small!=t('notifications.new-reply.unsubscribe', { settingsUrl: settingsUrl })