#homepage
  .row
    margin-left 0
    margin-right 0

    .bill-proposal
      .author-wrapper
        margin-bottom 0

      .pic
        float none
        width 100%
        margin-bottom 12px

      .btn-discuss
        background #00708f
      .results-box
        display none