doctype html5
html(lang='en')
  head
    title= config('organization name')
    // Application Styles
    link(rel='stylesheet', href='/app.css')
  body.non-compatible
    .oops
      img(src=config.logo)
      p!=t('global.non-compatible.text')