backgroundColor = #00708f

body.non-compatible
  background backgroundColor
  color white

  .oops
    width 300px
    height 300px
    position absolute
    left 50%
    top 50%
    margin -150px 0 0 -150px
    text-align center
    font-family "freight-sans-pro", sans-serif
    font-weight bold
    font-size 12px
    text-transform uppercase

    a
      color #fff
      text-decoration none
      border-bottom 1px solid #fff