@import 'kouto-swiss'

/**
 * Bill Proposal - Mobile version
 */

.bill-proposal-viewer
  font-size 10px
  padding-top 22px

  h1, h2
    margin 0
    padding 0
    text-align center
    text-transform uppercase

  h1
    font-size 2em
    margin 0
    padding 0
    padding-top 0

  h2
    font-size 1.2em
    font-weight normal
    margin 1.4em auto

    a.read-more
      color #333
      display inline-block
      margin-left 3px

  .progress-container
    width 25%
    margin-left auto
    margin-right auto

    @media screen and (max-width: 700px)
      width 75%

  .progress
    overflow visible

  .progress-indicator
    opacity 1

  .progress-caption
    right -32px
    top -11px
    font-size 16px
    color #4d4d4d
    font-weight bold