#tutorial-container
  .col-md-12
    .row
      .title.text-center
        h1=t('tutorial.title')
    .row.text-center
      .col-md-offset-2.col-md-8.subtitle
        h3=t('tutorial.subtitle')
    .row.text-center#carousel-container
      .col-md-2
      .col-md-8
        a.btn-prev(href="#")
        a.btn-next(href="#")
        .carousel
          .step1
          .step2
          .step3
          .step4
      .col-md-2
    .row.text-center#carousel-footer
      .col-md-2
      .col-md-8
        a.skip.pull-right Saltar tutorial &gt;&gt;
      .col-md-2
