#tutorial-container
  .col-md-12
    .row
      .title.text-center
        h1=t('tutorial.title')
    .row.text-center
      .col-md-2
      .col-md-8
        .carousel
          .step1 Primer paso. Acá va una imagen.
          .step2 Segundo paso. Acá va otra imagen.
          .step3 Tercer paso. Acá va otra imagen más.
          .step4 Cuarto paso. Acá va otra imagen.
      .col-md-2
    .row.text-center
      a.btn-prev Anterior
      a.btn-next Siguiente
