.subtitle
  margin-top 0px
  margin-bottom 30px
  h3
    font-size 1.2em
    font-weight normal

.carousel

  .step1
    .hidden-xs
      height 300px
      background url('/lib/tutorial/images/tutorial-paso1.gif') no-repeat
      background-position center
    .hidden-sm.hidden-md.hidden-lg
      height 443px
      background url('/lib/tutorial/images/tutorial-paso1-mobile.gif') no-repeat
      background-position center
  .step2
    .hidden-xs
      height 300px
      background url('/lib/tutorial/images/tutorial-paso2.gif') no-repeat
      background-position center
    .hidden-sm.hidden-md.hidden-lg
      height 443px
      background url('/lib/tutorial/images/tutorial-paso2-mobile.gif') no-repeat
      background-position center
  .step3
    .hidden-xs
      height 300px
      background url('/lib/tutorial/images/tutorial-paso3.gif') no-repeat
      background-position center
    .hidden-sm.hidden-md.hidden-lg
      height 443px
      background url('/lib/tutorial/images/tutorial-paso3-mobile.gif') no-repeat
      background-position center
  .step4
    .hidden-xs
      height 300px
      background url('/lib/tutorial/images/tutorial-paso4.gif') no-repeat
      background-position center
    .hidden-sm.hidden-md.hidden-lg
      height 443px
      background url('/lib/tutorial/images/tutorial-paso4-mobile.gif') no-repeat
      background-position center

.btn-prev, .btn-next
  cursor pointer
  position absolute
  top 125px
  z-index 1
  width 40px
  height 50px
  opacity .05
  transition all 0.7s ease
  &:hover
    opacity .5
    transition all 0.7s ease

.btn-prev
  left 50px
  background url('/lib/tutorial/images/prev.svg') no-repeat

.btn-next
  right 50px
  background url('/lib/tutorial/images/next.svg') no-repeat

#carousel-footer
  padding-bottom 30px

  a.skip
    margin-top 20px
    cursor pointer

